<div ng-controller='MainController' ng-init='init()' ng-class='{"hebrew": localizationSrv.locale === "he"}'>

<section class='background-homepage'>
  <div class='map-image'></div>
  <div class='map-filter-image' ng-style='getFilteredBg()'></div>
</section>

<header>
  <div class='header-wrap'>
    <ul class='left-side'>
      <li><a href='#/'><%= image_tag('lndmrk_logo.png',class: 'header-logo', width: '133', alt: 'LNDMRK') %></a></li> 
      <li><a class='link-1' translate>how_it_works</a></li>
      <li><a class='link-2' translate>about</a></li>
      <li><a class='link-3' translate>learning</a></li>
    </ul>
    <ul class='right-side'>
      <li ng-click='toggleLocalization("en")'><a class='link-4 en' ng-class='localizationSrv.locale === "en" ? "on" : ""'></a></li>
      <span class='v-strip'>|</span>
      <li ng-click='toggleLocalization("he")'><a class='link-5 heb' ng-class='localizationSrv.locale === "he" ? "on" : ""'></a></li>
      <li><a class='link-6' href='#/dashboard' translate>login</a></li>
      <li class='invest-wrap'><a class='invest' translate>invest_button</a></li>
    </ul>
  </div>
</header>

<section class='hero-map'>
  <h1 class='title' translate> map_title </h1>
  <div class='hero-map-container'>
    <div class='filters-container'>
      <div class='filter income'
           ng-click='toggleFilter("income")'
           ng-class='{"active": mapFilters.income}' translate> income </div>
      <div class='filter growth'
           ng-click='mapFilters.growth = !mapFilters.growth'
           ng-class='{"active": mapFilters.growth}' translate> growth </div>
      <div class='filter income-growth'
           ng-click='mapFilters.incomeGrowth = !mapFilters.incomeGrowth'
           ng-class='{"active": mapFilters.incomeGrowth}' translate>income_growth</div>
    </div>
    <div class='search-container'>
      <input type="text" class='search' placeholder='Search address, city, state.' ng-if='localizationSrv.locale === "en"'>
      <input type="text" class='search he' placeholder='חפש כתובת, עיר או מיקוד' ng-if='localizationSrv.locale === "he"'>
    </div>
    <div class='search-info'>
      <h1 class='search-button' translate > search</h1>
    </div>
  </div>
</section>

<section-carousel class='carousel-directive' assets='assets' pagination='pagination'></section-carousel>

<section class='how-it-works'>
  <div class='container'>
    <div class='line'></div>
    <div class='title' translate> how_it_works </div>
    <div class='row-wrap'>
      <div class='info'>
        <div class='image search'></div>
        <div class='info-title' translate> search_properties.title </div>
        <div class='text'>
          <p translate> search_properties.part_1 </p>
          <div id='diamond'></div>
          <p translate> search_properties.part_2 </p>
        </div>
      </div>
      <div class='info'>
        <div class='image invest'></div>
        <div class='info-title'><%= t 'invest.title' %></div>
        <div class='text'>
          <p translate> invest.part_1 </p>
          <div id='diamond'></div>
          <p translate> invest.part_2 </p>
          <div id='diamond'></div>
          <p translate> invest.part_3 </p>        
        </div>
      </div>
      <div class='info'>
        <div class='image recieve'></div>
        <div class='info-title' translate> recieve_income.title </div>
        <div class='text'>
          <p translate> recieve_income.part_1 </p>
          <div id='diamond'></div>
          <p translate> recieve_income.part_2 </p>
          <div id='diamond'></div>
          <p translate> recieve_income.part_3 </p>        
        </div>
      </div>
      <div class='info exit'>
        <div class='image exit'></div>
        <div class='info-title' translate> exit.title </div>
        <div class='text'>
          <p translate> exit.part_1 </p>
          <div id='diamond'></div>
          <p translate> exit.part_2 </p>     
        </div>
      </div>
    </div>
  </div>
</section>

<section class='statistics'>
  <div class='container'>
    <div class='column'>
      <h3 translate> income_distributed </h3>
      <div class='icon distributed'></div>
      <h1>$2,578</h1>
    </div>
    <div class='column'>
      <h3 translate>m_in_lndmrk</h3>
      <div class='pie-area'>
        <div class='pie-image'></div>
        <h2>453M</h2>
        <h4 class='growth' translate> growth </h4>
        <h4 class='income' translate> income </h4>
        <h4 class='income-growth' translate> income_growth </h4>
        <%= image_tag('line.png',class: 'line growth', width: '90', alt: '') %>
        <%= image_tag('line.png',class: 'line income', width: '90', alt: '') %>
        <%= image_tag('line.png',class: 'line income-growth', width: '90', alt: '') %>
      </div>
    </div>
    <div class='column'>
      <h3 translate> average_portfolio </h3>
      <div class='icon portfolio'></div>
      <h1>$53,327</h1>
    </div>
  </div>
</section>

<section class='our-story'>
  <div class='container'>
    <div class='line'></div>
    <div class='title' translate> our_story </div>
    <div class='row-text'>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum, justo sit amet rutrum vulputate, mi justo scelerisque libero, sit amet venenatis ex diam id risus. Phasellus placerat imperdiet arcu, molestie mollis ante volutpat vel. Donec eu felis augue. Suspendisse dapibus commodo efficitur. Etiam sit amet nisi ac est suscipit semper at ac massa. Donec tempor tempor convallis. Proin eget tortor vitae nulla laoreet cursus eu vel elit.
    </div>
    <h2 translate>our_story.subtitle</h2>
    <ul class='row col-3'>
      <li class='press-article'>
        <div class='speech-box'>
        <p translate> speech_box.part_1 </p>
        <h5>oct 22, 2016</h5>
        </div>
        <div class='paper-name tech-crunch'></div>
      </li>
      <li class='press-article'>
        <div class='speech-box'>
        <p translate>speech_box.part_2</p>
        <h5>nov 1, 2016</h5>
        </div>
        <div class='paper-name forbes'></div>
      </li>
      <li class='press-article'>
        <div class='speech-box'>
        <p translate> speech_box.part_3 </p>
        <h5>sep 7, 2016</h5>
        </div>
        <div class='paper-name the-ny-times'></div>
      </li>
    </ul>
  </div>
</section>

<section class='leadership'>
  <div class='container'>
    <div class='line'></div>
    <div class='title' translate> leadership.title </div>
    <ul class='row col-3'>
      <li class='leader'>
        <div class='image-01'></div>
        <div class='name'>
          <h2>donald fisher</h2>
          <h3 translate> leadership.chairman </h3>
        </div>
      </li>
      <li class='leader'>
        <div class='image-02'></div>
        <div class='name'>
          <h2>caleb rodriquez</h2>
          <h3 translate>leadership.board_member</h3>
        </div>
      </li>
      <li class='leader'>
        <div class='image-03'></div>
        <div class='name'>
          <h2>jerome willis</h2>
          <h3 translate>leadership.board_member</h3>
        </div>
      </li>

      <li class='leader'>
        <div class='image-04'></div>
        <div class='name'>
          <h2>greg stephens</h2>
          <h3 translate>leadership.ceo</h3>
        </div>
      </li>
      <li class='leader'>
        <div class='image-05'></div>
        <div class='name'>
          <h2>margie hill</h2>
          <h3 translate>leadership.board_member</h3>
        </div>
      </li>
      <li class='leader'>
        <div class='image-06'></div>
        <div class='name'>
          <h2>julio cook</h2>
          <h3 translate>leadership.board_member</h3>
        </div>
      </li>

      <li class='leader'>
        <div class='image-07'></div>
        <div class='name'>
          <h2>rene barnett</h2>
          <h3 translate>leadership.corporate_council</h3>
        </div>
      </li>
      <li class='leader'>
        <div class='image-08'></div>
        <div class='name'>
          <h2>brendie williamson</h2>
          <h3 translate>leadership.board_member</h3>
        </div>
      </li>
      <li class='leader'>
        <div class='image-09'></div>
        <div class='name'>
          <h2>dana perry</h2>
          <h3 translate>leadership.board_member</h3>
        </div>
      </li>

      <li class='leader'>
        <div class='image-10'></div>
        <div class='name'>
          <h2>nathan wallace</h2>
          <h3 translate>leadership.cfo</h3>
        </div>
      </li>
      <li class='leader'>
        <div class='image-11'></div>
        <div class='name'>
          <h2>juan marshall</h2>
          <h3 translate>leadership.board_member</h3>
        </div>
      </li>
      <li class='leader'>
        <div class='image-12'></div>
        <div class='name'>
          <h2>lester coleman</h2>
          <h3 translate>leadership.board_member</h3>
        </div>
      </li>

    </ul>
  </div>
</section>

<section class='partners'>
  <div class='container'>
    <div class='line'></div>
    <div class='title' translate>partners.title</div>
    <div class='partners-container'>
      <div class='partner canada'></div>
      <div class='partner cbre'></div>
      <div class='partner ey'></div>
      <div class='partner deloitte'></div>
      <div class='partner pwc'></div>
      <div class='partner kpmg'></div>
      <div class='partner goldman'></div>
      <div class='partner ubs'></div>
    </div>
  </div>
</section>

<footer>
  <div class='container'>

    <div class='left'>
      <div class='links-container'>
        <ul class='column'>
          <li class='link'><a href="#">aaaaaaaaaaa</a></li>
          <li class='link'><a href="#">bbbbbbbbbbb</a></li>
          <li class='link'><a href="#">ddddddddddd</a></li>
          <li class='link'><a href="#">eeeeeeeeeee</a></li>
          <li class='link'><a href="#">fffffffffff</a></li>
          <li class='link'><a href="#">ggggggggggg</a></li>
        </ul>
        <ul class='column'>
          <li class='link'><a href="#">hhhhhhhhhhh</a></li>
          <li class='link'><a href="#">iiiiiiiiiii</a></li>
          <li class='link'><a href="#">jjjjjjjjjjj</a></li>
          <li class='link'><a href="#">kkkkkkkkkkk</a></li>
          <li class='link'><a href="#">lllllllllll</a></li>
          <li class='link'><a href="#">mmmmmmmmmmm</a></li>
        </ul>
        <ul class='column'>
          <li class='link'><a href="#">ooooooooooo</a></li>
          <li class='link'><a href="#">ppppppppppp</a></li>
          <li class='link'><a href="#">qqqqqqqqqqq</a></li>
          <li class='link'><a href="#">rrrrrrrrrrr</a></li>
          <li class='link'><a href="#">ssssssssssss</a></li>
          <li class='link'><a href="#">tttttttttttt</a></li>
        </ul>
      </div>
    </div>
    <div class='right'>
      <div class='contact'>
        <div class='contact-info'>contact@lndmrk.com</div>
        <div class='contact-info'>122 Jmhh St.</div>
        <div class='contact-info'>+972-578687678</div>
        <div class='contact-info'>Ffnsdnn, Israel</div>
      </div>
      <div class='social'>
        <div class='social-item facebook'></div>
        <div class='social-item twitter'></div>
        <div class='social-item linkdin'></div>
        <div class='social-item mail'></div>
      </div>
    </div>
    <div class='buttom'>
      <p class='paragraph'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum, justo sit amet rutrum vulputate, mi justo scelerisque libero, sit amet venenatis ex diam id risus. Phasellus placerat imperdiet arcu, molestie mollis ante volutpat vel. Donec eu felis augue. Suspendisse dapibus commodo efficitur. Etiam sit amet nisi ac est suscipit semper at ac massa. Donec tempor tempor convallis. Proin eget tortor vitae nulla laoreet cursus eu vel elit.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum, justo sit amet rutrum vulputate, mi justo scelerisque libero, sit amet venenatis ex diam id risus. Phasellus placerat imperdiet arcu, molestie mollis ante volutpat vel. Donec eu felis augue. Suspendisse dapibus commodo efficitur. Etiam sit amet nisi ac est suscipit semper at ac massa. Donec tempor tempor convallis. Proin eget tortor vitae nulla laoreet cursus eu vel elit.
        tiam sit amet nisi ac est suscipit semper at ac massa. Donec tempor tempor convallis. Proin eget tortor vitae nulla laoreet cursus
        tiam sit amet nisi ac est suscipit semper at ac massa. Donec tempor tempor convallis. Proin eget tortor vitae nulla laoreet cursus tiam sit amet nisi ac est suscipit semper at ac massa. Donec tempor tempor convallis. Proin eget tortor vitae nulla laoreet cursustiam sit amet nisi ac est suscipit semper at ac massa. Donec tempor tempor convallis. Proin eget tortor vitae nulla laoreet cursus
      </p>
    </div>
  </div>
</footer>

</div>
