<!DOCTYPE html>
<html>
  <head>
    <title>LNDMRK</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://use.typekit.net/ezk0gmh.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ramda/0.22.1/ramda.min.js"></script>
    <script src="https://use.fontawesome.com/5a0527272a.js"></script>
  </head>
  <body>
   <%= yield %>

   <div style='display: none'>
    <% @images.each do |image| %>
      <%= image_tag asset_path "images/#{image.split('/').last}"  %>
    <% end %>
   </div>
  </body>
</html>
