<!DOCTYPE html>
<html>
  <head>
    <title>LNDMRK</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
      <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <script src="https://use.typekit.net/ezk0gmh.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ramda/0.22.1/ramda.min.js"></script>
    <script src="https://use.fontawesome.com/5e80cadb0c.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-touch/1.6.1/angular-touch.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    
  </head>
  <body>
   <%= yield %>

   <div style='display: none'>
    <% @images.each do |image| %>
      <%= image_tag asset_path "images/#{image.split('/').last}"  %>
    <% end %>
   </div>
   <script>
   
   function initMap() {
     angular.module('lndmrk').service('GoogleMapAPI', ['googleMaps', function (googleMaps) {
      googleMaps.init();
     }]);
   }
   
   </script>
   <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBqoHgS5h-v08X3-YRRQvPQ4lU21b5Dqkw&libraries=places&callback=initMap"></script>

  </body>
</html>
